<html>

<head>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" href="../images/weathericon.png">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <p>{{ help }}</p>
    </div>

    {{> footer }}

</body>

</html>